---
layout: pages
permalink: /products/
title: 产品中心
type-en: Products
---
			<div class="pcontent">
{% if current_category != '' %}
				<h3>{{ current_category_name }}</h3>
				<div class="prodsublist">{% for post in site.categories[current_category] reversed %}
							<div class="psli"><a href="{{ post.url }}"><img src="{{ site.p_img_cdn }}products-small/{{ post.url | img }}" />{{ post.name }}</a></div>
				{% endfor %}
				<div class="clear"></div>
				</div>
				<div class="clear"></div>
{% else %}{% for category in site.product_categories %}{% for subcategory in category.cats %}
				<a name="{{ subcategory[0] }}"></a>
				<h3>{{ subcategory[1] }}</h3>
				<div class="prodsublist">{% capture subcatname %}{{ subcategory[0] }}{% endcapture %}{% for post in site.categories[subcatname] reversed %}
					<div class="psli"><a href="{{ post.url }}"><img class="lazy" data-original="{{ site.p_img_cdn }}products-small/{{ post.url | img }}" src="/images/white.gif" />{{ post.name }}</a></div>{% endfor %}
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
{% endfor %}{% endfor %}{% endif %}
			</div>

